[Unit]
Description=JenkinsCollectorService

[Service]
ExecStart=/usr/bin/java -Dlogging.config=file:/hygieia/collectors/logback_jenkins.xml -jar /hygieia/collectors/jenkins-build-collector.jar --spring.config.name=jenkins --spring.config.location=/hygieia/application.properties
Restart=always
User=root
Group=root
respawn=true
WorkingDirectory=/hygieia/collectors

[Install]
WantedBy=multi-user.target
